# Part I:Basic intro to python

## Print Statements

In [2]:
print("Hello World")

Hello World

In [3]:
print("count of 5:",5,4,3,2,1,sep='->')

count of 5:->5->4->3->2->1

In [4]:
name,roll="Bishal",24
print("Name:",name,sep='-')
print("Roll no:",roll,sep='-')

Name:-Bishal
Roll no:-24

## Type conversion

In [5]:
n1,n2=24,2.4
n3=n1+n2
print("Sum of",n1,"and",n2,"is",n3,end="\n")
print("Data type of n1:",type(n1),"Data type of n2:",type(n2),"Data type of n3:",type(n3),end='\t')
n4="24"
n5=int(n4)
print(f"value of n4:{n4} Data type of n4:",type(n4),"Value of n5:{n5} Data type of n5:",n5,type(n5))

Sum of 24 and 2.4 is 26.4
Data type of n1: <class 'int'> Data type of n2: <class 'float'> Data type of n3: <class 'float'>	value of n4:24 Data type of n4: <class 'str'> Value of n5:{n5} Data type of n5: 24 <class 'int'>

## Control statement and operators

In [6]:
a,b=map(int,input("Enter any two numbers").split())
choice=input("Enter the operator you want to use to manipulate your data:")

if choice=="+":
    print(f"Sum of {a} and {b} is:{a+b}")
elif choice=="-":
     print(f"Sum of {a} and {b} is:{a-b}")
elif choice=="*":
     print(f"Product of {a} and {b} is:{a*b}")
elif choice=="/":
     print(f"divison of {a} and {b} is:{a/b}")
elif choice=="rem":
     print(f"reminder of {a} and {b} is:{a%b}")
elif choice==">":
    if a>b:
        temp=a
    else:
        temp=b    
    print(f"Greatest number between {a} and {b} is:{temp}")
elif choice=="<":
    if a<b:
        temp=a
    else:
        temp=b    
    print(f"Smallest number between {a} and {b} is:{temp}")
else:
    print("Invalid operator!")

Enter any two numbers5 7
Enter the operator you want to use to manipulate your data:+
Sum of 5 and 7 is:12

## loops and break,continue statements

In [7]:
n=50
for i in range(5,40,2):
    if i==35:
        break
    if i==7:
        continue
    print(i)

5
9
11
13
15
17
19
21
23
25
27
29
31
33

In [8]:
i=1
while i<10:
    print(i)
    if i==7:
        break
    i+=1

1
2
3
4
5
6
7

## Lists

In [9]:
headings=["Name","Roll","Passed"]
student1=["Ram",20,True]
student2=["Shyam",22,False]
print(headings)
print(student1)
print(student2)

['Name', 'Roll', 'Passed']
['Ram', 20, True]
['Shyam', 22, False]

In [10]:
print(student1[:2])
print(student2[1:])
print(student1[::2])

['Ram', 20]
[22, False]
['Ram', True]

In [11]:
print("Name of Student1:",student1[0],f"\nRoll no of Student2:{student2[1]}")

Name of Student1: Ram
Roll no of Student2:22

In [12]:
for index,value in enumerate(headings):
    print(index,value,sep='-',end='\t')
print('\n')
for index,value in enumerate(student2):
    print(index,value,sep='-',end='\t')
print('\n')
for index,value in enumerate(student1):
    print(index,value,sep='-',end='\t')

0-Name	1-Roll	2-Passed

0-Shyam	1-22	2-False

0-Ram	1-20	2-True

In [13]:
student2[2]=True
for index,value in enumerate(headings):
    print(index,value,sep='-',end='\t')
print('\n')
for index,value in enumerate(student2):
    print(index,value,sep='-',end='\t')
print('\n')
for index,value in enumerate(student1):
    print(index,value,sep='-',end='\t')

0-Name	1-Roll	2-Passed

0-Shyam	1-22	2-True

0-Ram	1-20	2-True

In [14]:
print(student2)
student2.remove(22)
print(student2)

['Shyam', 22, True]
['Shyam', True]

In [15]:
student2.append("Hari")
student2.append(21)
print(student2)

['Shyam', True, 'Hari', 21]

In [16]:
student1.extend(student2)
print(student1)

['Ram', 20, True, 'Shyam', True, 'Hari', 21]

## Tuples

In [17]:
fromSoftware=("Demon_souls","Dark_souls1","Dark_souls2","Bloodborne","Dark_souls3","Sekiro","Elden_ring")
print(fromSoftware)

('Demon_souls', 'Dark_souls1', 'Dark_souls2', 'Bloodborne', 'Dark_souls3', 'Sekiro', 'Elden_ring')

#### the '{}' is mandatory

In [18]:
print("Latest  game released by fromsoftware: {}".format(fromSoftware[-1]))

Latest  game released by fromsoftware: Elden_ring

In [19]:
for detail in fromSoftware:
    print(detail)

Demon_souls
Dark_souls1
Dark_souls2
Bloodborne
Dark_souls3
Sekiro
Elden_ring

## Set

In [68]:
A=set(map(int,input("Enter the elements of first set:").split()))
B=set(map(int,input("Enter the elements of second set:").split()))

Enter the elements of first set:4 5 7 3
Enter the elements of second set:4 6

In [69]:
choice=input("Input the operation you want to do on these sets:")

Input the operation you want to do on these sets:is_equal

In [70]:
if choice=='union':
    result=A.union(B)
elif choice=='intersection':
    result=A.intersection(B)
elif choice=='difference':
    result=A.difference(B)
elif choice=='symmetrical_difference':
    result=A.symmetrical_difference(B)
elif choice=='is_equal':
    result=True if A==B else False

In [71]:
print(f"Result={result}")

Result=False

## Dictionary

In [84]:
#goty->Game of the Year
goty={          
    '2024':'Astro Bot (Should Have been either Black myth wukong or elden ring dlc)',
    '2023':"Baldur's gate 3",
    '2022':'Elden Ring',
    '2021':'It takes two',
    '2020':'Last of us part II',
    '2019':'Sekiro: Shadows Die Twice',
    '2018':'God of War'
}

In [85]:
print(goty)
goty['2017']='The Legend of Zelda: Breath of the Wild'
print(f"Updated dictionary:{goty}")

{'2024': 'Astro Bot (Should Have been either Black myth wukong or elden ring dlc)', '2023': "Baldur's gate 3", '2022': 'Elden Ring', '2021': 'It takes two', '2020': 'Last of us part II', '2019': 'Sekiro: Shadows Die Twice', '2018': 'God of War'}
Updated dictionary:{'2024': 'Astro Bot (Should Have been either Black myth wukong or elden ring dlc)', '2023': "Baldur's gate 3", '2022': 'Elden Ring', '2021': 'It takes two', '2020': 'Last of us part II', '2019': 'Sekiro: Shadows Die Twice', '2018': 'God of War', '2017': 'The Legend of Zelda: Breath of the Wild'}

In [95]:
print("Game of the year 2022",goty['2022'],sep='=')
goty['2024']='Elden Ring:Shadow of the Erdtree'
print("Game of the year 2024",goty['2024'],sep='=')

Game of the year 2022=Elden Ring
Game of the year 2024=Elden Ring:Shadow of the Erdtree

In [97]:
del goty['2024']
for key,value in goty.items():
    print(key,':',value)

2023 : Baldur's gate 3
2022 : Elden Ring
2021 : It takes two
2020 : Last of us part II
2019 : Sekiro: Shadows Die Twice
2018 : God of War
2017 : The Legend of Zelda: Breath of the Wild

## Function

In [105]:
def greatest(a=1,b=1,c=1):
    if a>b and a>c:
        print(f'a={a} is greatest')
    elif b>a and b>c:
        print(f'b={b} is greatest')
    else:
        print(f'c={c} is greatest')


greatest(-4,5)

b=5 is greatest

#### Program that calculates distance betweeen two points using function

In [127]:
import math as m

In [128]:
x1,y1=map(int,input("Enter coordinates of initial distance:").split())
x2,y2=map(int,input("Enter coordinates of final distance:").split())
initial=(x1,y1)
final=(x2,y2)

Enter coordinates of initial distance:1 2
Enter coordinates of final distance:4 6

In [129]:
def distance(d2,d1):
    d=m.sqrt((d2[0]-d1[0])**2+(d2[1]-d1[1])**2)
    return d

In [130]:
d=distance(final,initial)
print(f"distance between {initial} and {final}={d}")

distance between (1, 2) and (4, 6)=5.0

# Part II:OOP in python