## Print Statements

In [1]:
print("Hello World")

Hello World

In [2]:
print("count of 5:",5,4,3,2,1,sep='->')

count of 5:->5->4->3->2->1

In [3]:
name,roll="Bishal",24
print("Name:",name,sep='-')
print("Roll no:",roll,sep='-')

Name:-Bishal
Roll no:-24

## Type conversion

In [4]:
n1,n2=24,2.4
n3=n1+n2
print("Sum of",n1,"and",n2,"is",n3,end="\n")
print("Data type of n1:",type(n1),"Data type of n2:",type(n2),"Data type of n3:",type(n3),end='\t')
n4="24"
n5=int(n4)
print(f"value of n4:{n4} Data type of n4:",type(n4),"Value of n5:{n5} Data type of n5:",n5,type(n5))

Sum of 24 and 2.4 is 26.4
Data type of n1: <class 'int'> Data type of n2: <class 'float'> Data type of n3: <class 'float'>	value of n4:24 Data type of n4: <class 'str'> Value of n5:{n5} Data type of n5: 24 <class 'int'>

## Control statement and operators

In [5]:
a,b=map(int,input("Enter any two numbers").split())
choice=input("Enter the operator you want to use to manipulate your data:")

if choice=="+":
    print(f"Sum of {a} and {b} is:{a+b}")
elif choice=="-":
     print(f"Sum of {a} and {b} is:{a-b}")
elif choice=="*":
     print(f"Product of {a} and {b} is:{a*b}")
elif choice=="/":
     print(f"divison of {a} and {b} is:{a/b}")
elif choice=="rem":
     print(f"reminder of {a} and {b} is:{a%b}")
elif choice==">":
    if a>b:
        temp=a
    else:
        temp=b    
    print(f"Greatest number between {a} and {b} is:{temp}")
elif choice=="<":
    if a<b:
        temp=a
    else:
        temp=b    
    print(f"Smallest number between {a} and {b} is:{temp}")
else:
    print("Invalid operator!")

Enter any two numbers5 4
Enter the operator you want to use to manipulate your data:+
Sum of 5 and 4 is:9

## loops and break,continue statements

In [6]:
n=50
for i in range(5,40,2):
    if i==35:
        break
    if i==7:
        continue
    print(i)

5
9
11
13
15
17
19
21
23
25
27
29
31
33

In [7]:
i=1
while i<10:
    print(i)
    if i==7:
        break
    i+=1

1
2
3
4
5
6
7

## Lists

In [65]:
headings=["Name","Roll","Passed"]
student1=["Ram",20,True]
student2=["Shyam",22,False]
print(headings)
print(student1)
print(student2)

['Name', 'Roll', 'Passed']
['Ram', 20, True]
['Shyam', 22, False]

In [68]:
print(student1[:2])
print(student2[1:])
print(student1[::2])

['Ram', 20]
[22, False]
['Ram', True]

In [54]:
print("Name of Student1:",student1[0],f"\nRoll no of Student2:{student2[1]}")

Name of Student1: Ram
Roll no of Student2:22

In [55]:
for index,value in enumerate(headings):
    print(index,value,sep='-',end='\t')
print('\n')
for index,value in enumerate(student2):
    print(index,value,sep='-',end='\t')
print('\n')
for index,value in enumerate(student1):
    print(index,value,sep='-',end='\t')

0-Name	1-Roll	2-Passed

0-Shyam	1-22	2-False

0-Ram	1-20	2-True

In [56]:
student2[2]=True
for index,value in enumerate(headings):
    print(index,value,sep='-',end='\t')
print('\n')
for index,value in enumerate(student2):
    print(index,value,sep='-',end='\t')
print('\n')
for index,value in enumerate(student1):
    print(index,value,sep='-',end='\t')

0-Name	1-Roll	2-Passed

0-Shyam	1-22	2-True

0-Ram	1-20	2-True

In [57]:
print(student2)
student2.remove(22)
print(student2)

['Shyam', 22, True]
['Shyam', True]

In [58]:
student2.append("Hari")
student2.append(21)
print(student2)

['Shyam', True, 'Hari', 21]

In [59]:
student1.extend(student2)
print(student1)

['Ram', 20, True, 'Shyam', True, 'Hari', 21]

## Tuples

In [71]:
fromSoftware=("Demon_souls","Dark_souls1","Dark_souls2","Bloodborne","Dark_souls3","Sekiro","Elden_ring")
print(fromSoftware)

('Demon_souls', 'Dark_souls1', 'Dark_souls2', 'Bloodborne', 'Dark_souls3', 'Sekiro', 'Elden_ring')

#### the '{}' is mandatory

In [81]:
print("Latest  game released by fromsoftware: {}".format(fromSoftware[-1]))

Latest  game released by fromsoftware: Elden_ring

In [84]:
for detail in fromSoftware:
    print(detail)

Demon_souls
Dark_souls1
Dark_souls2
Bloodborne
Dark_souls3
Sekiro
Elden_ring